.slick-prev{
    left:-10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #eceaea !important;
    border:2px solid #d7d7d7 !important;
    &:hover{
        background: #fff !important;
    }
    
    

}

.slick-next::before, .slick-prev::before{
    font-family: 'slick' !important;
    // content: "\f00d" !important;
    color:red !important;
    
    // border:1px solid red !important;
   

}
.slick-next{
    right:-10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #eceaea !important;
    border:2px solid #d7d7d7 !important;
    &:hover{
        background: #fff !important;
    }
    
}
.section-share{
    &.section-specialty{
        background:#f6f6f6;
    }
    &.section-outstanding-doctor{
        background:#f6f6f6;
    }
    &.section-about{
        background:#ffffff;
        border-top:1px solid red;
        border-bottom:1px solid red;
    }
    .section-container{
        .section-body{
            // border: 1px solid black;
            
            .section-customize{
                padding:10px;
                .customize-border{
                    border: 1px solid yellow;
                    padding-top: 20px;
                    padding-bottom: 40px;
                    
                    .outer-bg{
                        display: flex;
                        justify-content: center;
                    }
                    
                }
                .bg-image{
                    width: 150px;
                    height:100px;                
                    background-position:center center ; 
                    background-repeat: no-repeat ;
                    background-size: cover ;
                    background-color: #f6f6f6 ;
                    &.section-specialty {
                        background-image:url('../../assets/specialty/co-xuong-khop.jpg');
                    }
                    &.section-medical-facility {
                        background-image:url('../../assets/medical-facility/benh-vien-thu-cuc.jpg');
                    }
                    &.section-outstanding-doctor{
                        background-image:url('../../assets/outstanding-doctor/af.jpg');
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                    &.section-handbook{
                        background-image:url('../../assets/handbook/hanbook.jpg');
                    }

    
                }
            }
    
        }
    }
    
}
.section-share{
    height: 330px;
    
    // border:1px solid red;
    margin : 0 50px;

    .section-container{   
        // border:2px solid blue;        
        margin: 0 100px;        
        flex-direction: column;
        

        .section-header{
            // border:2px solid green;
            height: 60px;
            margin-bottom: 30px;
            padding-top:30px;

            .title-section {
                font-size :22px;
                font-weight:600;
                text-transform: uppercase;
            }
            .btn-section {
                float:right;
                // padding:10px 15px;
                border:none;
                outline: none;
                display: block;
                background: #ebebeb;
                color:black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover{
                    background: #f7d800;
                    color:#fff;
                }
                

            }
        }
        
    }    

}
.home-footer{
    text-align: center;
    padding-top:10px;
    a {
        text-decoration:none;
        color:red;
    }
    
}
.section-about{
    .section-about-header{
        font-size: 20px;
        padding: 10px 20px;
        font-weight: 700;
    }
    
    .section-about-content {
        display: flex;            
        gap: 20px;
        width:100%;
        .content-left{
            width: 60%;
        }
        .content-right{
            width: 40%;
            p{
                text-align: justify;
                font-style: italic;
            }
        }
    }
    
}

